In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import logging
import os

In [2]:
# Import from scripts
sys.path.append("..") 
from src.data_loader import load_tsla_data
from scripts.arima import train_arima, forecast_arima, evaluate_arima, plot_arima

In [5]:
tesla_data = load_tsla_data('../data/TSLA_cleaned.csv')  # Load from relative path in data/

2025-02-28 13:37:18,164 - INFO - Loading TSLA data from CSV...
2025-02-28 13:37:18,199 - INFO - Verifying TSLA data integrity...
2025-02-28 13:37:18,203 - INFO - TSLA data loaded successfully. Shape: (2505, 9), Missing values: 0

In [7]:
tesla_data.head(2505)  # Display the first 5 rows of the data

,Price,Close,High,Low,Volume,Daily_Return,Rolling_Mean,Rolling_Std,Z_Score
Date,,,,,,,,,
2015-02-17,13.623333,13.713333,13.433333,13.713333,59694000,-0.140787,13.940933,0.583636,-0.895868
2015-02-18,13.630667,13.744667,13.506667,13.611333,40704000,0.228492,13.917978,0.577107,-0.895605
2015-02-19,14.114000,14.162667,13.583333,13.666667,77311500,3.041181,13.914067,0.574963,-0.892099
2015-02-20,14.474000,14.506667,13.987333,14.052000,89731500,2.428920,13.920333,0.580523,-0.889213
2015-02-23,13.822667,14.546667,13.755333,14.377333,127497000,0.275735,13.930111,0.588737,-0.888878
...,...,...,...,...,...,...,...,...,...
2025-01-24,406.579987,418.880005,405.779999,414.450012,56427100,-0.439713,432.494999,23.670436,2.502681
2025-01-27,397.149994,406.690002,389.000000,394.799988,58125500,-2.910142,432.393666,23.777519,2.400431
2025-01-28,398.089996,400.589996,386.500000,396.910004,48910700,-1.499915,431.583999,24.446347,2.349264
2025-01-29,389.100006,398.589996,384.480011,395.209991,68033600,-0.499264,430.560332,25.177332,2.332488
2025-01-30,400.279999,412.500000,384.410004,410.779999,98092900,3.489803,429.766999,25.364511,2.449165