In [3]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Load trained LSTM model
model = tf.keras.models.load_model("../model/optimized_lstm.keras")

c:\Users\HP\Documents\Dagii\week-11\TimeSeries-Portfolio-Optimization\week-11\Lib\site-packages\keras\src\saving\saving_lib.py:757: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 10 variables whereas the saved optimizer has 18 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

In [6]:
# Import from scripts
sys.path.append("..")
from src.data_loader import load_tsla_data

In [ ]:
data = load_tsla_data('../data/TSLA_cleaned.csv')
data.reset_index(inplace=True)
data["Date"] = pd.to_datetime(data["Date"])

2025-03-03 09:39:39,848 - INFO - Loading TSLA data from CSV...
2025-03-03 09:39:39,889 - INFO - Verifying TSLA data integrity...
2025-03-03 09:39:39,895 - INFO - TSLA data loaded successfully. Shape: (2505, 9), Missing values: 0

In [19]:
data.head()

,Date,Price,Close,High,Low,Volume,Daily_Return,Rolling_Mean,Rolling_Std,Z_Score
0,2015-02-17,13.623333,13.713333,13.433333,13.713333,59694000,-0.140787,13.940933,0.583636,-0.895868
1,2015-02-18,13.630667,13.744667,13.506667,13.611333,40704000,0.228492,13.917978,0.577107,-0.895605
2,2015-02-19,14.114000,14.162667,13.583333,13.666667,77311500,3.041181,13.914067,0.574963,-0.892099
3,2015-02-20,14.474000,14.506667,13.987333,14.052000,89731500,2.428920,13.920333,0.580523,-0.889213
4,2015-02-23,13.822667,14.546667,13.755333,14.377333,127497000,0.275735,13.930111,0.588737,-0.888878