In [1]:
import sys
import pandas as pd
sys.path.append("..")

In [2]:
sys.path.append("..")
# Import the functions
from scripts.data_cleaning import (
    check_basic_statistics,
    ensure_data_types,
    check_missing_values,
    handle_missing_values,
    normalize_data
)

In [3]:
# Import the load_data function from src.data_loader
from src.data_loader import load_data

In [4]:
bnd = load_data("BND")
spy = load_data("SPY")
tesla = load_data("TSLA")

Number of columns in BND_data.csv: 6
Number of columns in SPY_data.csv: 6
Number of columns in TSLA_data.csv: 6

In [5]:

tesla.head()

        Date      Price      Close       High        Low    Volume
0 2015-01-05  14.006000  14.433333  13.810667  14.303333  80527500
1 2015-01-06  14.085333  14.280000  13.614000  14.004000  93928500
2 2015-01-07  14.063333  14.318667  13.985333  14.223333  44526000
3 2015-01-08  14.041333  14.253333  14.000667  14.187333  51637500
4 2015-01-09  13.777333  13.998667  13.664000  13.928000  70024500

In [6]:
# Step 1: Check basic statistics
stats = check_basic_statistics(tesla, "TSLA")
print("-----------------basic statistics of tesla--------------")
print(stats)

# Step 1: Check basic statistics of BND
stats = check_basic_statistics(bnd, "BND")
print("-----------------basic statistics of BND--------------")
print(stats)


 #Check basic statistics of SPY 
stats = check_basic_statistics(spy, "SPY")
print("-----------------basic statistics of SPY--------------")
print(stats)

-----------------basic statistics of tesla--------------
                                Date        Price        Close         High  \
count                           2534  2534.000000  2534.000000  2534.000000
mean   2020-01-15 07:57:20.883977984   117.888946   120.516497   115.137325
min              2015-01-05 00:00:00     9.578000    10.331333     9.403333
25%              2017-07-11 06:00:00    17.246000    17.530834    16.943500
50%              2020-01-15 12:00:00    30.784333    32.640001    29.992001
75%              2022-07-21 18:00:00   221.622501   226.718338   217.090828
max              2025-01-30 00:00:00   479.859985   488.540009   457.510010
std                              NaN   116.513225   119.241096   113.703698

               Low        Volume
count  2534.000000  2.534000e+03
mean    117.918317  1.120468e+08
min       9.488000  1.062000e+07
25%      17.269167  6.679792e+07
50%      31.440000  9.264390e+07
75%     222.661667  1.294490e+08
max     475.899994  9.140820e+08
std     116.616621  7.388527e+07
-----------------basic statistics of BND--------------
                                Date        Price        Close         High  \
count                           2534  2534.000000  2534.000000  2534.000000
mean   2020-01-15 07:57:20.883977984    69.292102    69.393940    69.188691
min              2015-01-05 00:00:00    61.860874    61.937357    61.822635
25%              2017-07-11 06:00:00    65.573730    65.632010    65.483971
50%              2020-01-15 12:00:00    68.329895    68.459567    68.170516
75%              2022-07-21 18:00:00    72.880764    72.946475    72.730177
max              2025-01-30 00:00:00    78.823273    78.920188    78.788036
std                              NaN     4.791233     4.799461     4.781184

               Low        Volume
count  2534.000000  2.534000e+03
mean     69.295942  4.233995e+06
min      61.891469  0.000000e+00
25%      65.558048  2.056000e+06
50%      68.311507  3.805900e+06
75%      72.846293  5.626950e+06
max      78.884958  3.193720e+07
std       4.792191  2.796348e+06
-----------------basic statistics of SPY--------------
                                Date        Price        Close         High  \
count                           2534  2534.000000  2534.000000  2534.000000
mean   2020-01-15 07:57:20.883977984   316.124021   317.782453   314.214169
min              2015-01-05 00:00:00   156.800842   157.864136   154.676868
25%              2017-07-11 06:00:00   214.869541   215.867530   214.283792
50%              2020-01-15 12:00:00   277.234024   278.362897   276.101228
75%              2022-07-21 18:00:00   405.963654   409.202180   402.906834
max              2025-01-30 00:00:00   609.750000   610.780029   606.799988
std                              NaN   117.915718   118.475280   117.258801

               Low        Volume
count  2534.000000  2.534000e+03
mean    316.077671  8.713300e+07
min     156.354943  2.027000e+07
25%     215.113932  5.861922e+07
50%     277.271237  7.642180e+07
75%     406.109768  1.017314e+08
max     609.809998  5.072443e+08
std     117.910828  4.487621e+07

In [7]:
from scripts.data_cleaning import check_missing_values

missing_values = check_missing_values(tsla_data, "TSLA")
print(missing_values)

NameError: name 'tsla_data' is not defined