In [1]:
import sys
import pandas as pd
sys.path.append("..")

In [13]:
sys.path.append("..")
# Import the functions
from scripts.data_cleaning import (
    check_basic_statistics,
    ensure_data_types,
    check_missing_values,
    handle_missing_values,
    normalize_data
)

In [2]:
# Import the load_data function from src.data_loader
from src.data_loader import load_data

In [10]:
bnd = load_data("BND")
spy = load_data("SPY")
tesla = load_data("TSLA")

2025-02-27 12:30:00,493 - INFO - Loading data for BND...
2025-02-27 12:30:00,521 - INFO - Successfully loaded data for BND from c:\Users\HP\Documents\Dagii\week-11\TimeSeries-Portfolio-Optimization\data\BND_data.csv.
2025-02-27 12:30:00,522 - INFO - Loading data for SPY...
2025-02-27 12:30:00,553 - INFO - Successfully loaded data for SPY from c:\Users\HP\Documents\Dagii\week-11\TimeSeries-Portfolio-Optimization\data\SPY_data.csv.
2025-02-27 12:30:00,554 - INFO - Loading data for TSLA...
2025-02-27 12:30:00,575 - INFO - Successfully loaded data for TSLA from c:\Users\HP\Documents\Dagii\week-11\TimeSeries-Portfolio-Optimization\data\TSLA_data.csv.

Number of columns in BND_data.csv: 6
Number of columns in SPY_data.csv: 6
Number of columns in TSLA_data.csv: 6

In [11]:

spy.head()

                 Price       Close        High         Low     Volume
2015-01-02
2015-01-05  169.475952  171.702356  169.165099  171.534328  169632600
2015-01-06  167.879608  170.316050  167.073055  169.786749  209151400
2015-01-07  169.971649  170.316116  168.770234  169.223912  125346700
2015-01-08  172.987717  173.206165  171.383032  171.399826  147217800
2015-01-09  171.601501  173.424635  170.979783  173.407828  158567300

In [15]:
# Step 1: Check basic statistics
stats = check_basic_statistics(tesla, "TSLA")
print(stats)

2025-02-27 12:30:55,340 - INFO - Basic statistics for TSLA:
2025-02-27 12:30:55,358 - INFO -              Price        Close         High          Low        Volume
count  2534.000000  2534.000000  2534.000000  2534.000000  2.534000e+03
mean    117.888946   120.516497   115.137325   117.918317  1.120468e+08
std     116.513225   119.241096   113.703698   116.616621  7.388527e+07
min       9.578000    10.331333     9.403333     9.488000  1.062000e+07
25%      17.246000    17.530834    16.943500    17.269167  6.679792e+07
50%      30.784333    32.640001    29.992001    31.440000  9.264390e+07
75%     221.622501   226.718338   217.090828   222.661667  1.294490e+08
max     479.859985   488.540009   457.510010   475.899994  9.140820e+08

             Price        Close         High          Low        Volume
count  2534.000000  2534.000000  2534.000000  2534.000000  2.534000e+03
mean    117.888946   120.516497   115.137325   117.918317  1.120468e+08
std     116.513225   119.241096   113.703698   116.616621  7.388527e+07
min       9.578000    10.331333     9.403333     9.488000  1.062000e+07
25%      17.246000    17.530834    16.943500    17.269167  6.679792e+07
50%      30.784333    32.640001    29.992001    31.440000  9.264390e+07
75%     221.622501   226.718338   217.090828   222.661667  1.294490e+08
max     479.859985   488.540009   457.510010   475.899994  9.140820e+08

In [16]:
# Step 2: Ensure appropriate data types
tsla_data = ensure_data_types(tesla, "TSLA")

2025-02-27 12:32:13,641 - INFO - Data types before cleaning for TSLA:
2025-02-27 12:32:13,643 - INFO - Price     float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object
2025-02-27 12:32:13,647 - INFO - Data types after cleaning for TSLA:
2025-02-27 12:32:13,649 - INFO - Price     float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object

In [17]:
from scripts.data_cleaning import check_missing_values

missing_values = check_missing_values(tsla_data, "TSLA")
print(missing_values)

2025-02-27 12:32:21,631 - INFO - Missing values for TSLA:
2025-02-27 12:32:21,636 - INFO - Price     0
Close     0
High      0
Low       0
Volume    0
dtype: int64

Price     0
Close     0
High      0
Low       0
Volume    0
dtype: int64